table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
}

th, td {
    border: 1px solid #7e7e7e;
    text-align: left;
    padding: 8px;
}

.table-edit {
    display: inline-block;  
}

.inline-block {
    display: inline-block;
    width: 60%;
}