body {
    background-color: #eeeeee;
}

#header {
    background-image: url(https://static.scientificamerican.com/sciam/cache/file/AA7DC3E5-E269-47D8-A2A089BE331C8DBC_source.jpg);
    background-position: 10% 20%;
    background-size: cover;
    height: 400px;
    z-index: 2;
}

.nav-links li {
    display: inline-block;
    z-index: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
    font-size: 12px;
}

th, td {
    border: 1px solid #7e7e7e;
    text-align: left;
    padding: 8px;
}

.edit-table {
    float: right;
    margin-right: 100px;
}
 
.eyes-image {
    width: 400px;

}

.article-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 60px;
    border: #ac0000 solid;
    
}

.image-header {
    background-image:
}